@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
  }

  .blur-in {
    filter: blur(5px);
    transition: filter 2s ease-in-out;
  }
  
  .clear {
    filter: blur(0);
    transition: filter 0.5s ease-in-out;

  }